@use '@angular/material' as mat;

.green-chip {
  @include mat.chips-overrides(
    (
      elevated-container-color: SpringGreen,
      label-text-color: black,
    )
  );
  mat-icon {
    color: black;
    display: contents;
  }
}

.red-chip {
  @include mat.chips-overrides(
    (
      elevated-container-color: Crimson,
      label-text-color: white,
    )
  );
  mat-icon {
    color: white;
    display: contents;
  }
}
