:host {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.approvals-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 80em;

  margin: 0 auto;
}

mat-divider {
  margin: 15px 0;
}
