@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.requireApproval {
  animation: blinker 5s forwards;
  background-color: c.$color-danger;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  background-color: var(--mat-sys-surface-container-low);
}

.active {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}
