:host {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 2em 10vw;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-section {
  display: flex;
  align-items: center;

  form {
    flex-grow: 1;

    mat-form-field {
      width: 100%;
    }
  }
}

.source-ref {
  display: flex;
  align-items: center;
  gap: 2px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-section {
  width: 100%;

  button {
    width: 100%;
  }
}

.warning-section {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  border-radius: 8px;
  padding: 8px;

  word-wrap: break-word;

  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.source-section,
.form-section,
clients-form,
rollout-form,
output-plugins-form {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--mat-sys-outline);
}
