@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100vw;
}

.fleet-collection-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--mat-sys-outline-variant);
}

.new-fleet-collection-button-container {
  padding: 6px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);

  button {
    width: 100%;
  }
}

.fleet-collection-filters-container {
  display: flex;
  gap: 3px;

  mat-form-field {
    padding: 6px;
    flex-grow: 1;
  }
}

.fleet-collection-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.fleet-collection-actions {
  display: flex;
  gap: 2px;
}

fleet-collection-state-chip {
  padding-right: 10px;
}

.more-fleet-collections-button {
  display: flex;
  justify-content: end;
  gap: 10px;
}

a.mat-mdc-list-item {
  padding-top: 4px;
  border-top: 1px solid var(--mat-sys-outline-variant);

  &:hover {
    cursor: pointer;
  }

  @include mat.list-overrides(
    (
      active-indicator-shape: 0,
    )
  );


  .progress-line {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .collection-progress-max-count {
    width: 7em;
    text-align: center;
  }

  .collection-flow-name {
    width: 60%;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fleet-collection-details {
  flex: 1;
  height: 100%;
  overflow: scroll;
}
