:host {
  display: block;
  width: 100%;
}

.overview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.overview-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
}

.overview-right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
