@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.search-box-container {
  display: flex;
  align-items: center;

  height: 15em;
  width: 100%;
  padding: 0 10vw;
}

table {
  padding: 0 2em;
}

.mat-mdc-row:hover {
  cursor: pointer;
}

td {
  max-width: 20vw;
}

mat-chip-set {
  display: inline-block;
  // When clicking on a label/online-indicator, do not intercept the click but
  // pass it through to the row, which links to the client.
  pointer-events: none;
  white-space: nowrap;
}

.label-chip {
  margin: 0 2px;

  @include mat.chips-overrides(
    (
      elevated-container-color: var(--mat-sys-primary-container),
      label-text-color: var(--mat-sys-on-primary-container),
    )
  );
}

.recent-approvals-container {
  padding: 2em;
}
