@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  border-bottom: 1px solid var(--mat-sys-outline-variant);

  .brand {
    display: flex;
    align-items: center;

    img {
      height: 38px;
      width: 38px;
      margin-right: 0.5em;
    }

    .title {
      color: var(--mat-sys-color-primary);
      font-size: 24px;
    }

    .badge {
      color: var(--mat-sys-secondary);
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      line-height: 1;
      margin-left: 1em;
      padding: 4px;
      vertical-align: middle;
      text-transform: uppercase;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  nav {
    align-self: flex-end;
  }
}

mat-progress-bar {
  @include mat.progress-bar-overrides(
    (
      track-height: 3px,
      active-indicator-height: 3px,
    )
  );
}

mat-tab-nav-panel {
  height: 100%;
  overflow: hidden;
}
