@use '@angular/material' as mat;
@use 'material-theme' as c;


:root {
  --base-font-size: 14px;
}

body,
html {
  display: block;
  height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font: var(--mat-sys-body-medium);
  font-size: var(--base-font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

samp {
  background-color: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

body.split-panel-dragging {
  // stylelint-disable declaration-no-important --
  // Override the user-select property to disable text selection globally while
  // the split panel is being dragged.
  user-select: none !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

a:any-link:not(.mat-mdc-button-base) {
  color: inherit;
  text-decoration: none;
}

a.text-link:any-link,
a.text-link-hover:hover,
.app-link,
.app-link:hover {
  color: var(--mat-sys-primary);
  text-decoration: underline;
}

a:any-link mat-chip span {
  cursor: inherit;
}


