@use 'sass:map';

@use '@angular/material' as mat;

// Initialize Angular material theme.
// Include non-theme styles for core.
@include mat.app-background();
@include mat.elevation-classes();

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (

        primary: mat.$blue-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: (
        plain-family: (
          'Google Sans Text',
          'Google Sans',
          sans-serif,
        ),
        brand-family: (
          'Google Sans',
        ),
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );

  @include mat.chips-overrides(
    (
      container-shape-radius: 16px,
      outline-color: transparent,
    )
  );
}

body.dark-mode {
  color-scheme: dark;
}

:host {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  border: None;
  font: var(--mat-sys-body-medium);
}

// Material Typography level definitions:
h1 {
  font: var(--mat-sys-headline-large);
}

h2 {
  font: var(--mat-sys-headline-medium);
}

h3 {
  font: var(--mat-sys-headline-small);
}

h4 {
  font: var(--mat-sys-title-large);
}

h5 {
  font: var(--mat-sys-title-medium);
}

h6 {
  font: var(--mat-sys-title-small);
}

$color-warn: #ffb300;
$color-success: #43a047;
$color-danger: #e53935;
$color-progress: #0075ff;
$color-neutral: #5f6368;
